### Requirement ###

Given the Github API (https://docs.github.com/en/free-pro-team@latest/rest), create a simple ETL pipeline. 
For a particular repository, example Airflow (https://github.com/apache/airflow), pull in the commits over the last 6 months. (plus points if this window of time can be varied) 
With the data ingested, address the follow queries: 

1. For the ingested commits, determine the top 5 committers ranked by count of commits and their number of commits. 
2. For the ingested commits, determine the committer with the longest commit streak.  
3. For the ingested commits, generate a heatmap of number of commits count by all users by day of the week and by 3 hour blocks. 

Sample heatmap
     00-03 	03-06 	06-09 	09-12 	12-15 	15-18 	18-21 	21-00
Mon 	 	 	 	 	 	 	 	 
Tues 	 	 	 	 	 	 	 	 
Wed 	 	 	 	 	 	 	 	 
Thurs 	 	 	 	 	 	 	 	 
Fri 	 	 	 	 	 	 	 	 
Sat 	 	 	 	 	 	 	 	 
Sun

In [1]:
import json
import requests
import numpy as np
import pandas as pd

In [2]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
#ask user for number of months data to retrieve
num_months = input("Please Enter Number of Months you want to retrieve data:")
#calculate the time base on number of months
since_months = datetime.now() + relativedelta(months=-int(num_months))
since = since_months.isoformat()
print(since)

Please Enter Number of Months you want to retrieve data:6
2023-04-18T20:33:23.993169

In [5]:
#get all commit data page by page with default 100 per page,filter committer information
page = 1
committer_info = []
while(True):
    param = {"per_page":100,"since": since, "page":page}
    header = {"Authorization":"Bearer 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"}
    data = requests.get('https://api.github.com/repos/apache/airflow/commits',params=param,headers=header)
    json_result = data.json()
    result_count=len(json_result)
    #print(result_count)
    for committer in json_result:
        #here i retrieve commit author information
        committer_info.append(committer["commit"]["author"])

    if (result_count < 100):
        break
    else:
        page=page+1

# convert data into data frame
df = pd.DataFrame(data=committer_info)
#save data into csv file for further analysis (ideally should insert data into DB, but here we use file)
df.to_csv("result.csv",index=False)

In [6]:
# load the data into data frame
df = pd.read_csv('result.csv')

In [7]:
# find top 5 committers ranked by count of commits and their number of commits
top_committer = df['name'].value_counts().head()
print('Top 5 committer base on commit count:\n',top_committer)

Top 5 committer base on commit count:
 Jarek Potiuk       368
Hussein Awala      194
Miroslav Šedivý    119
Andrey Anshin       81
Wei Lee             71
Name: name, dtype: int64

In [8]:
#For the ingested commits, determine the committer with the longest commit streak
#convert date column to date time type
df['date'] = pd.to_datetime(df['date'])
#find longest streak
long_streak = df.groupby('name')['date'].apply(lambda x: x.max()-x.min()).sort_values(ascending=False).head(1)
#get the committer name and time
print('User {0} has longest commit streak {1}'.format(long_streak.index[0], long_streak.values[0]) )

User Jarek Potiuk has longest commit streak 15720822000000000 nanoseconds

In [9]:
#generate a heatmap of number of commits count by all users by day of the week and by 3 hour blocks
#create day_of_week column and hour column
df['day_of_week'] = df['date'].dt.day_name()
df['hour'] = df['date'].dt.hour
df.head(15)

,name,email,date,day_of_week,hour
0,Jarek Potiuk,jarek@potiuk.com,2023-10-18 10:54:16+00:00,Wednesday,10
1,Przemek Więch,pwiech@gmail.com,2023-10-18 10:25:21+00:00,Wednesday,10
2,VladaZakharova,80038284+VladaZakharova@users.noreply.github.com,2023-10-18 08:45:22+00:00,Wednesday,8
3,Jarek Potiuk,jarek@potiuk.com,2023-10-18 08:08:57+00:00,Wednesday,8
4,Jarek Potiuk,jarek@potiuk.com,2023-10-17 22:32:36+00:00,Tuesday,22
5,Jarek Potiuk,jarek@potiuk.com,2023-10-17 22:13:23+00:00,Tuesday,22
6,Raphaël Vandon,vandonr@amazon.com,2023-10-17 22:10:12+00:00,Tuesday,22
7,dependabot[bot],49699333+dependabot[bot]@users.noreply.github.com,2023-10-17 20:23:35+00:00,Tuesday,20
8,dependabot[bot],49699333+dependabot[bot]@users.noreply.github.com,2023-10-17 20:19:35+00:00,Tuesday,20
9,D. Ferruzzi,ferruzzi@amazon.com,2023-10-17 20:18:42+00:00,Tuesday,20
10,Niko Oliveira,onikolas@amazon.com,2023-10-17 18:28:29+00:00,Tuesday,18
11,Vincent,97131062+vincbeck@users.noreply.github.com,2023-10-17 18:15:01+00:00,Tuesday,18
12,Jonny Fuller,mr.waffles@gmail.com,2023-10-17 17:58:52+00:00,Tuesday,17
13,Vincent,97131062+vincbeck@users.noreply.github.com,2023-10-17 16:43:09+00:00,Tuesday,16
14,Andrey Anshin,Andrey.Anshin@taragol.is,2023-10-16 21:18:37+00:00,Monday,21

In [10]:
#3 hour block column
# define a function to convert hour into 3 hour block
# 00-03 03-06 06-09 09-12 12-15 15-18 18-21 21-00
def convert_hour_block(hour):
    if hour < 3 : 
        return '00-03'
    elif hour < 6 : 
        return '03-06'
    elif hour < 9 : 
        return '06-09'
    elif hour < 12 : 
        return '09-12'
    elif hour < 15 : 
        return '12-15'
    elif hour < 18 : 
        return '15-18'
    elif hour < 21 : 
        return '18-21'
    elif hour < 24 : 
        return '21-00'
 
 
df['hour_block'] = df['hour'].apply(convert_hour_block)
df.head(15)

,name,email,date,day_of_week,hour,hour_block
0,Jarek Potiuk,jarek@potiuk.com,2023-10-18 10:54:16+00:00,Wednesday,10,09-12
1,Przemek Więch,pwiech@gmail.com,2023-10-18 10:25:21+00:00,Wednesday,10,09-12
2,VladaZakharova,80038284+VladaZakharova@users.noreply.github.com,2023-10-18 08:45:22+00:00,Wednesday,8,06-09
3,Jarek Potiuk,jarek@potiuk.com,2023-10-18 08:08:57+00:00,Wednesday,8,06-09
4,Jarek Potiuk,jarek@potiuk.com,2023-10-17 22:32:36+00:00,Tuesday,22,21-00
5,Jarek Potiuk,jarek@potiuk.com,2023-10-17 22:13:23+00:00,Tuesday,22,21-00
6,Raphaël Vandon,vandonr@amazon.com,2023-10-17 22:10:12+00:00,Tuesday,22,21-00
7,dependabot[bot],49699333+dependabot[bot]@users.noreply.github.com,2023-10-17 20:23:35+00:00,Tuesday,20,18-21
8,dependabot[bot],49699333+dependabot[bot]@users.noreply.github.com,2023-10-17 20:19:35+00:00,Tuesday,20,18-21
9,D. Ferruzzi,ferruzzi@amazon.com,2023-10-17 20:18:42+00:00,Tuesday,20,18-21
10,Niko Oliveira,onikolas@amazon.com,2023-10-17 18:28:29+00:00,Tuesday,18,18-21
11,Vincent,97131062+vincbeck@users.noreply.github.com,2023-10-17 18:15:01+00:00,Tuesday,18,18-21
12,Jonny Fuller,mr.waffles@gmail.com,2023-10-17 17:58:52+00:00,Tuesday,17,15-18
13,Vincent,97131062+vincbeck@users.noreply.github.com,2023-10-17 16:43:09+00:00,Tuesday,16,15-18
14,Andrey Anshin,Andrey.Anshin@taragol.is,2023-10-16 21:18:37+00:00,Monday,21,21-00

In [11]:
# generate heatmap
heatmap = pd.crosstab(df['day_of_week'],df['hour_block'])
heatmap

hour_block   00-03  03-06  06-09  09-12  12-15  15-18  18-21  21-00
day_of_week
Friday           7     26     52     43     48     86     73     43
Monday           6     16     54     60     34     46     97     40
Saturday         2      5     50     32     24     39     47     31
Sunday           0     10     24     16     33     41     46     57
Thursday        23     24     46     56     58     64     64     66
Tuesday          3     17     43     46     55     51     81     58
Wednesday       14     21     48     66     38     52     64     52